---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">

    <!-- START MAIN SECTION -->

	<main>
		<!-- START HERO SECTION -->
		<section class="w-full ">
		   <div class="container  px-4 lg:px-20">
			   <div class="flex flex-col lg:flex-row items-center">
				   <div class="w-full px-6 pb-4 lg:pb-0 lg:w-1/2">
					   <h4 class="text-5xl lg:text-5xl text-center lg:text-left font-bold mb-6">Your logo.Endless<br/>
					   Possibilities</h4>
					   <p class="mt-4 text-lg text-center lg:text-left
					   ">Discover the promotional products to set your business apart</p>
					   <div class="my-4 text-center ">
						   <a href="" class="flex items-center w-full justify-center lg:justify-start">
							   <span>shop now</span>
							   <span class="ml-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
								   <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
								 </svg></span>
						   </a>
					   </div>
				   </div>
				   <div class="w-full lg:w-1/2">
					   <img src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,fl_progressive,w_auto:50:1920/site%20images/homepage/home-page-marquee-2" alt="" srcset="">
				   </div>
			   </div>
		   </div>
		</section>
		<!-- END HERO SECTION -->


		<!-- START PROUCTS SECTION -->
<section class="mt-10 pb-10 lg:pt-20">
   <div class="container px-4 mx-auto lg:px-20">
	   <h4 class="text-3xl w-full lg:text-5xl leading-snug mb-4 font-bold">Start Browsing custom promotional<span class="inline ml-2 lg:block">products</span> </h4>

	   <div class="w-full mt-6 lg:mt-20 ">
		   <div class="grid grid-cols-2 lg:grid-cols-4 gap-8">
			   <!-- START ITEM -->
				<div class="flex flex-col gap-4">
				   <img src="https://res.cloudinary.com/promotique/images/c_scale,dpr_auto,f_auto,w_auto:50:411/site%20images/homepage/hp-tile-clothing/Clothing" alt="">
				   <a href="" class="flex items-center">
					   <span>Clothing</span>
					   <span class="ml-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
						   <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
						 </svg></span>
				   </a>
				</div>

			   <!-- END ITEM -->

					   <!-- START ITEM -->
					   <div class="flex flex-col gap-4">
						   <img src="https://res.cloudinary.com/promotique/images/c_scale,dpr_auto,f_auto,w_auto:50:411/site%20images/homepage/hp-tile-bags/Bags" alt="">
						   <a href="" class="flex items-center">
							   <span>Bags</span>
							   <span class="ml-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
								   <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
								 </svg></span>
						   </a>
						</div>
	   
					   <!-- END ITEM -->


								   <!-- START ITEM -->
				<div class="flex flex-col gap-4">
				   <img src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:50:411/site%20images/homepage/hp-tile-drinkware" alt="">
				   <a href="" class="flex items-center">
					   <span>Drinkware</span>
					   <span class="ml-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
						   <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
						 </svg></span>
				   </a>
				</div>

			   <!-- END ITEM -->
							   <!-- START ITEM -->
							   <div class="flex flex-col gap-4">
								   <img src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:50:411/site%20images/homepage/hp-tile-writing" alt="">
								   <a href="" class="flex items-center">
									   <span>Writing & Office</span>
									   <span class="ml-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										   <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
										 </svg></span>
								   </a>
								</div>
			   
							   <!-- END ITEM -->
							   <!-- START ITEM -->
							   <div class="flex flex-col gap-4">
								   <img src="https://res.cloudinary.com/promotique/images/c_scale,dpr_auto,f_auto,w_auto:50:411/site%20images/homepage/hp-tile-technology/Technology" alt="">
								   <a href="" class="flex items-center">
									   <span>Technology</span>
									   <span class="ml-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										   <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
										 </svg></span>
								   </a>
								</div>
			   
							   <!-- END ITEM -->
							   <!-- START ITEM -->
							   <div class="flex flex-col gap-4">
								   <img src="https://res.cloudinary.com/promotique/images/c_scale,dpr_auto,f_auto,w_auto:50:411/site%20images/homepage/hp-tile-house/Home" alt="">
								   <a href="" class="flex items-center">
									   <span>Household & Auto</span>
									   <span class="ml-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										   <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
										 </svg></span>
								   </a>
								</div>
			   
							   <!-- END ITEM -->
							   <!-- START ITEM -->
							   <div class="flex flex-col gap-4">
								   <img src="https://res.cloudinary.com/promotique/images/c_scale,dpr_auto,f_auto,w_auto:50:411/site%20images/homepage/hp-tile-sport/Leisure" alt="">
								   <a href="" class="flex items-center">
									   <span>Leisure</span>
									   <span class="ml-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										   <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
									   </svg></span>
								   </a>
							   </div>
			   
							   <!-- END ITEM -->

							   <!-- START ITEM -->
							   <div class="flex flex-col gap-4">
								   <img src="https://res.cloudinary.com/promotique/images/c_scale,dpr_auto,f_auto,w_auto:50:411/site%20images/homepage/hp-tile-candy/Candy" alt="">
								   <a href="" class="flex items-center">
									   <span>Treats</span>
									   <span class="ml-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										   <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
									   </svg></span>
								   </a>
							   </div>
			   
							   <!-- END ITEM -->



		   </div>
	   </div>
   </div>
</section>
		<!-- END PRODUCTS SECTION -->

		<!-- START WELCOME SECTION -->
<section  class="my-10 pt-20 hidden lg:block">
	  <div class="container mx-auto px-4 lg:px-20">
	   <div class="w-full flex-col lg:flex-row flex items-center gap-8">
		   <div class="w-full lg:w-1/3 ">
			   <h4 class="text-2xl lg:text-4xl mb-4 font-bold">Welcome to Promotique</h4>
			   <p class="text-gray-600 mb-4">Here you’ll find a wide collection of custom promotional products, so you can stand out in a way that’s right for your business. Whether you’re looking for promotional clothing and custom uniforms, personalised bags, or 
				   custom sports and water bottles, we’ve got options for your team and company.</p>
		   </div>
		   <div class="flex-grow pl-2 lg:pl-6">
				 <div class="w-full flex justify-between items-center">
				   <!-- START ITEM -->
					  <div class="flex flex-col gap-4 items-center">
							  <div class="icon">
							   <img src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:32:32/site%20images/usps/low-minimum" alt="" srcset="">
							  </div>
							  <p class="text-sm">Low quantities</p>
					  </div>
					  <!-- END ITEM -->

					  <!-- START ITEM -->
					  <div class="flex flex-col gap-4 items-center">
					   <div class="icon">
						<img src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:32:32/site%20images/usps/products-for-every-occasion" alt="" srcset="">
					   </div>
					   <p class="text-sm">Products for every occasion</p>
					</div>
					<!-- END ITEM -->

				   <!-- START ITEM -->
				   <div class="flex flex-col gap-4 items-center">
					   <div class="icon">
					   <img src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:32:32/site%20images/usps/easy-customization" alt="" srcset="">
					   </div>
					   <p class="text-sm">Easy customization</p>
				   </div>
				   <!-- END ITEM -->
				   <!-- START ITEM -->
				   <div class="flex flex-col gap-4 items-center">
					   <div class="icon">
					   <img src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:32:32/site%20images/usps/satisfaction-guaranteed" alt="" srcset="">
					   </div>
					   <p class="text-sm">Satisfaction guaranteed</p>
				   </div>
				   <!-- END ITEM -->
				 </div>
		   </div>
	   </div>
	  </div>
</section>
		<!-- END WELCOME SECTION -->

		<!-- START SHOP SELLING -->
<section class="my-10 lg:pt-20">
 <div class="container mx-auto px-4 lg:px-20">
   <h4 class="text-3xl lg:text-4xl font-bold mb-10">Shop Bestselling</h4>
   <div class="grid grid-cols-2 lg:grid-cols-4 gap-6">
	  
	   <!-- START ITEM -->
	   <div class="flex flex-col gap-4 lg:row-span-2 lg:col-span-2">
		   <img class="h-full w-full object-cover" src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,h_700,w_auto/site%20images/category%20pages/clothing/jumpers/clothing-jumpers" alt="">
		   <a href="" class="flex items-center">
			   <span>Jumpers</span>
			   <span class="ml-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
				   <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
			   </svg></span>
		   </a>
	   </div>

	   <!-- END ITEM -->

			   <!-- START ITEM -->
			   <div class="flex flex-col gap-4 ">
				   <img src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:50:411/site%20images/homepage/bestsellers/hp-bestsellers-tshirts" alt="">
				   <a href="" class="flex items-center">
					   <span>T-shirts</span>
					   <span class="ml-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
						   <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
					   </svg></span>
				   </a>
			   </div>
	   
			   <!-- END ITEM -->



							   <!-- START ITEM -->
							   <div class="flex flex-col gap-4 ">
								   <img src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:50:411/site%20images/homepage/bestsellers/hp-bestsellers-caps" alt="">
								   <a href="" class="flex items-center">
									   <span>BaseBall Caps</span>
									   <span class="ml-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										   <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
									   </svg></span>
								   </a>
							   </div>
					   
							   <!-- END ITEM -->

											   <!-- START ITEM -->
			   <div class="flex flex-col gap-4 ">
				   <img src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:50:411/site%20images/homepage/bestsellers/hp-bestsellers-totes" alt="">
				   <a href="" class="flex items-center">
					   <span>Tote Bags</span>
					   <span class="ml-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
						   <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
					   </svg></span>
				   </a>
			   </div>
	   
			   <!-- END ITEM -->

			   <!-- START ITEM -->
			   <div class="flex flex-col gap-4 ">
				   <img src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:50:411/site%20images/homepage/bestsellers/hp-bestsellers-bottles" alt="">
				   <a href="" class="flex items-center">
					   <span>Bottles</span>
					   <span class="ml-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
						   <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
					   </svg></span>
				   </a>
			   </div>
	   
			   <!-- END ITEM -->

	  
   </div>
 </div>
</section>
		<!-- END SHOP SELLING -->

		<section class="my-10 pt-20 pb-10 bg-gray-200">
		   <div class="container px-4 lg:px-20 mx-auto">
			  <div class="flex justify-center flex-col-reverse lg:flex-row">
				<img 
				class="h-64 lg:h-80 lg:-mb-20 flex-grow object-cover"
				src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:50:800/site%20images/shared/free-design-services" alt="">
				  <div class="px-10 mb-4 lg:mb-0">
				   <h4 class="text-2xl lg:text-3xl font-bold mb-4">Need Help With your Design?</h4>
				   <p class="font-light text-sm">Speak to a designer.Call us on 1.866.891.3156</p>
				  </div>
			   </div>
		   </div>
		</section>
<!-- START  CATEGORY CARDS -->
 <section class="my-10 lg:pt-40 ">
   <div class="container px-4 lg:px-20 mx-auto">
<div class="w-full flex flex-col lg:flex-row items-center gap-6">
   <div class="flex flex-col items-center gap-4">
	   <img src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:50:660/site%20images/homepage/featured/hp-featured-home-2" alt="" srcset="">
	   <h4 class="text-2xl lg:text-3xl font-bold">Home office Suppliers</h4>
   </div>
   <div class="flex flex-col items-center gap-4">
	   <img src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,w_auto:50:660/Site%20Images/Homepage/first-aid-kit-001" alt="" srcset="">
	   <h4 class="text-2xl lg:text-3xl font-bold">Health & WellBeing</h4>
   </div>
</div>
   </div>
 </section>
<!-- END CATEGORY CARDS -->


<!-- START FIND CUSTOM PROMO SECTION -->
<section class="mt-10 bg-gray-100  py-10 lg:py-20">
   <div class="contaner mx-auto px-4 lg:px-20">
	   <div class="w-full flex flex-col lg:flex-row justify-between">
		   <div class="w-full lg:w-1/4">
		<h4 class="text-2xl lg:text-4xl mb-4 font-bold">
		   Find custom promo products for your company at Promotique
		</h4>
		<p class="text-base font-light">
		   Welcome to Promotique. Here you’ll find a wide collection of custom promotional products, so you can stand out in a way that’s right for your business. Whether you’re looking for promotional clothing and custom uniforms, personalised bags, or custom sports and water bottles, we’ve got options for your team and company.
		</p>
		   </div>
		   <div class="w-full lg:w-1/2 ">
			   <div class="flex flex-col gap-10 w-2/3">
				   <div class="flex flex-col">
					   <h5 class="font-bold mb-3">Low quantities</h5>
					   <p class="">Get the products you want in the numbers you need. Many of our products can be ordered individually.
					   And the more you order, the more you save.</p>
				   </div>
				   <!-- START ITEM -->
				   <div class="flex flex-col">
					   <h5 class="font-bold mb-3">Low quantities</h5>
					   <p class="">Upload your logo, add text and preview your design in real-time. Our design studio offers a wide range of fonts and makes it easy to add colour to your ideas.</p>
				   </div>
				   <!-- END ITEM -->
				   <!-- START ITEM -->
				   <div class="flex flex-col">
					   <h5 class="font-bold mb-3">Satisfaction guaranteed</h5>
					   <p class="">We’ll do everything we can to make your experience with us a positive one. If you’re not 100% satisfied with your order, let us know and we’ll make it right.</p>
				   </div>
				   <!-- END ITEM -->
			   </div>
		   </div>
	   </div>
   </div>
</section>
<!-- START FIND CUSTOM PROMO SECTION -->



</main>
   <!-- END MAIN SECTION -->
</Layout>


