---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="//unpkg.com/alpinejs" defer></script>
	</head>
	<body x-data="{mobileOpen:false}">
		    <!-- START HEADER -->
<header class="hidden lg:block">
    <nav class="w-full bg-info py-2 ">
         <div class="container mx-auto px-20">
            <ul class="flex  gap-4">
                <li class="font-light text-white">
                    <a href="">VistaPrint</a>
                </li>
                <li class="font-light text-white">
                    <a href="">Digital Marketing</a>
                </li>
                <li class="font-light text-white">
                    <a href="">Masks by VistaPrint</a>
                </li>
                <li class="font-light text-white">
                    <a href="">Corporate Pricing</a>
                </li>
                <li class="font-light text-white">
                    <a href="">Reseller Program</a>
                </li>
            </ul>
         </div>
    </nav>
    <nav class=" py-4">
        <div class=" container mx-auto px-20 flex items-center gap-4">

        
         <div class="logo">
            <img src="./images/logo.png" alt="" class="h-24 -ml-5 w-40" srcset="">
         </div>

         <div class="flex-grow">
            <div class="relative bg-white">
                <input type="text"class="bg-white px-3 py-2.5 w-full border rounded-2xl">
            </div>
         </div>
         <div class="flex-none  flex gap-4 items-center">
            <!-- START LINK ITEM -->
            <div class="flex items-center gap-2">
                <div>
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.5472 4C9.31915 4 5.04166 8.27749 5.04166 13.5055C5.04166 15.4066 5.59615 17.2285 6.62592 18.7336L5.04166 22.4566C4.88324 22.7734 5.20009 23.0903 5.59615 23.0111L9.31915 21.4268C10.8242 22.4566 12.6461 23.0111 14.5472 23.0111C19.7752 23.0111 24.0527 18.7336 24.0527 13.5055C24.0527 8.27749 19.7752 4 14.5472 4Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                        <ellipse cx="14.548" cy="17.4679" rx="0.792128" ry="0.792127" fill="black"></ellipse>
                        <path d="M14.5474 15.4073L14.4682 13.8231C15.7356 13.8231 16.8446 12.7933 16.8446 11.4467C16.8446 10.1001 15.8148 9.07031 14.4682 9.07031C13.1216 9.07031 12.0918 10.1001 12.0918 11.4467H12.171C12.171 10.1001 13.28 9.07031 14.5474 9.07031C15.8148 9.07031 16.9238 10.1793 16.9238 11.4467C16.9238 12.7933 15.894 13.8231 14.5474 13.8231V15.4073Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                </div>
               <a class="hover:underline cursor-pointer text-xs">
                <p class="text-sm">Help is Here</p>
                <span>1.866.507.7454                </span>
               </a>

            </div>
         <!-- END LINK ITEM -->
                     <!-- START LINK ITEM -->
                     <div class="flex items-center gap-2 relative dropdown" tabindex="1">
                        <div>
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="13.4197" cy="10.8738" r="4.37382" stroke="black" stroke-width="1.5"></circle>
                                <path d="M5.75586 22.5005C5.75586 21.5482 5.9541 20.6053 6.33925 19.7255C6.7244 18.8457 7.28893 18.0463 8.0006 17.3729C8.71227 16.6996 9.55715 16.1654 10.487 15.801C11.4168 15.4366 12.4134 15.249 13.4199 15.249C14.4263 15.249 15.4229 15.4366 16.3528 15.801C17.2826 16.1654 18.1275 16.6996 18.8392 17.3729C19.5509 18.0463 20.1154 18.8457 20.5005 19.7255C20.8857 20.6053 21.0839 21.5482 21.0839 22.5005" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                        </div>
                       <a class="hover:underline cursor-pointer text-xs">
                        <p class="text-sm">Link</p>
                       
                       </a>
                       <div class="absolute dropdown-item  bg-white top-4 bg-transparent h-80 w-full">
                        <div class="absolute top-10 shadow border border-gray-200  w-full -left-28 w-72 h-auto  bg-white z-40">
                            <div class="relative w-full ">
                                <div class="absolute  h-5 w-5 transform rotate-45 bg-white left-1/2 transform -translate-x-1/2 -top-2.5 border-t border-l "></div>
                           
                           <div class="p-8">
                            <p>
                                Save your designs, easily track your orders, and get access to exclusive member benefits.
                            </p>
                            
                            <div class=" w-full py-3 flex">
                                <a href="" class="bg-primary text-white px-5 py-3 text-center w-full rounded-3xl text-lg">Sign in </a>
                            </div>

                            <div class=" w-full py-3 flex">
                                <a href="" class="border border-primary text-primary px-5 py-3 text-center w-full rounded-3xl text-lg">Sign in </a>
                            </div>

                            <div class=" w-full py-3  w-full border-b border-gray-200"></div>

                            <div class=" w-full py-3 pt-6  w-full flex justify-between items-center">
                                <img src="data:image/svg+xml;utf8,%3Csvg%20width%3D%2233%22%20height%3D%2232%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15.745%203.791a.75.75%200%200%200-.49%200l-12.997%204.5a.752.752%200%200%200-.508.7V23.5c0%20.32.203.604.505.709l12.993%204.497a.747.747%200%200%200%20.492.005l5.997-2a.75.75%200%200%200-.474-1.422l-5.013%201.67V13.874l11.5-3.833V17a.75.75%200%200%200%201.5%200V9a.75.75%200%200%200-.521-.714L15.745%203.79ZM3.25%2010.067l11.496%204.139.004.001v12.74l-11.5-3.981V10.067Zm19.027.217%203.892-1.297L15.5%205.294l-3.873%201.34%209.94%203.406.71.243Zm-2.345.781-4.673%201.558L4.793%209l4.531-1.569.228.079%2010.38%203.555Zm5.883%208.9a2.37%202.37%200%201%200%20.523%204.71%202.37%202.37%200%200%200-.523-4.71Zm-3.585%202.782a3.87%203.87%200%201%201%207.28%201.36l1.54%201.232a.75.75%200%201%201-.937%201.17l-1.54-1.231a3.87%203.87%200%200%201-6.343-2.53Z%22%20fill%3D%22%23000%22%2F%3E%3C%2Fsvg%3E" alt="">
                               <span class="text-sm font-bold">Find and track your order</span>
                            </div>
                           </div>
                            </div>
                         </div>
                       </div>

                    </div>
                 <!-- END LINK ITEM -->

                             <!-- START LINK ITEM -->
            <div class="flex items-center gap-2">
                <div>
                    <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M22 8.09863H6V24.7986H22V8.09863Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M11.5 10.6002V5.5002C11.5 4.8002 12.1 4.2002 12.8 4.2002H15.4C16.1 4.2002 16.7 4.8002 16.7 5.5002V10.7002" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><clipPath id="clip0"><rect width="24" height="24" fill="white" transform="translate(2 2.5)"></rect></clipPath></defs></svg>
                </div>
               <a class="hover:underline cursor-pointer text-xs">
                <p class="text-sm">Cart</p>

               </a>

            </div>
         <!-- END LINK ITEM -->
         </div>
        </div>
    </nav>

    <!-- START CATEGORIES NAV -->
 <nav class="w-full py-4">
    <div class="container mx-auto px-4 lg:px-20">
    <ul class="w-full flex items-center text-sm 2xl:text-base border-b">
           <li class=" hover:text-gray-500  hover:border-b hover:border-primary flex-grow whitespace-nowrap py-3 px-2 list-menu" tabindex="1">
            <a href="">All Categories</a>

           </li>
           <li class="hover:text-gray-500  hover:border-b hover:border-primary flex-grow whitespace-nowrap py-3 px-2 list-menu">
            <a href="">Clothing</a>
            <div class="fixed top-auto w-full megamenu h-64 bg-white mt-5 left-0 z-50 text-black">
                <div class="container mx-auto px-4 lg:px-20 py-4">
                    <div class="grid grid-cols-1 lg:grid-cols-6">
                    
                      <!-- START ITEM       -->
                     <div class="">
                        <h4 class="font-medium mb-4 ">Shirts & Tops</h4>
                       <ul class="flex flex-col gap-4 text-sm">
                        <li>
                            <a href="#" class="hover:text-primary">T-shirts</a>
                        </li>
                        <li>
                            <a href="#">Polo shirts</a>
                        </li>
                        <li>
                            <a href="#">Dress Shirts</a>
                        </li>
                        <li>
                            <a href="#">Tank Tops
                            </a>
                        </li>
                       </ul>
                     </div>
                        <!-- END ITEM -->

                                          <!-- START ITEM       -->
                                          <div class="">
                                            <h4 class="font-medium mb-4 ">Outer wear</h4>
                                           <ul class="flex flex-col gap-4 text-sm">
                                            <li>
                                                <a href="#" class="hover:text-primary">T-shirts</a>
                                            </li>
                                            <li>
                                                <a href="#">Polo shirts</a>
                                            </li>
                                            <li>
                                                <a href="#">Dress Shirts</a>
                                            </li>
                                            <li>
                                                <a href="#">Tank Tops
                                                </a>
                                            </li>
                                           </ul>
                                         </div>
                                            <!-- END ITEM -->

                                                  <!-- START ITEM       -->
                     <div class="">
                        <h4 class="font-medium mb-4 ">Hats</h4>
                       <ul class="flex flex-col gap-4 text-sm">
                        <li>
                            <a href="#" class="hover:text-primary">T-shirts</a>
                        </li>
                        <li>
                            <a href="#">Polo shirts</a>
                        </li>
                        <li>
                            <a href="#">Dress Shirts</a>
                        </li>
                        <li>
                            <a href="#">Tank Tops
                            </a>
                        </li>
                       </ul>
                     </div>
                        <!-- END ITEM -->

                                      <!-- START ITEM       -->
                                      <div class="">
                                        <h4 class="font-medium mb-4 ">Other Clothing</h4>
                                       <ul class="flex flex-col gap-4 text-sm">
                                        <li>
                                            <a href="#" class="hover:text-primary">T-shirts</a>
                                        </li>
                                        <li>
                                            <a href="#">Polo shirts</a>
                                        </li>
                                        <li>
                                            <a href="#">Dress Shirts</a>
                                        </li>
                                        <li>
                                            <a href="#">Tank Tops
                                            </a>
                                        </li>
                                       </ul>
                                     </div>
                                        <!-- END ITEM -->
                    </div>
                </div>
            </div>
           </li>
           <li class="hover:text-gray-500  hover:border-b hover:border-primary flex-grow whitespace-nowrap py-3 px-2 list-menu">
            <a href="">Bags</a>
           </li>
           <li class="hover:text-gray-500  hover:border-b hover:border-primary flex-grow whitespace-nowrap py-3 px-2 list-menu">
            <a href="">Drinkware</a>
           </li>
           <li class="hover:text-gray-500  hover:border-b hover:border-primary flex-grow whitespace-nowrap py-3 px-2 list-menu">
            <a href="">Writing & Office</a>
           </li>
           <li class="hover:text-gray-500  hover:border-b hover:border-primary flex-grow whitespace-nowrap py-3 px-2 list-menu">
            <a href="">Technology</a>
           </li>
           <li class="hover:text-gray-500  hover:border-b hover:border-primary flex-grow whitespace-nowrap py-3 px-2 list-menu">
            <a href="">HouseHold & Auto</a>
           </li>
           <li class="hover:text-gray-500  hover:border-b hover:border-primary flex-grow whitespace-nowrap py-3 px-2 list-menu">
            <a href="">Sports & Leisure</a>
           </li>
           <li class="hover:text-gray-500  hover:border-b hover:border-primary flex-grow whitespace-nowrap py-3 px-2 list-menu">
            <a href="">Treats</a>
           </li>
           <li class="hover:text-gray-500  hover:border-b hover:border-primary flex-grow whitespace-nowrap py-3 px-2 list-menu">
            <a href="">Deals</a>
           </li>
           <li class="hover:text-gray-500  hover:border-b hover:border-primary flex-grow whitespace-nowrap py-3 px-2 list-menu">
            <a href="">Collections</a>
           </li>
    </ul>
    </div>
 </nav>
    <!-- END CATEGORIES NAV -->
</header>
    <!-- END HEADER -->

    <!-- START MOBILE -->
<header class="lg:hidden py-3">
<div class="container px-4 flex items-center justify-between">
    <div class="flex gap-3 items-center">
        <span x-on:click="mobileOpen=true" class="navburger"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="5.75" y1="9.25" x2="18.25" y2="9.25" stroke="black" stroke-width="1.5" stroke-linecap="round"></line>
            <line x1="5.75" y1="15.25" x2="18.25" y2="15.25" stroke="black" stroke-width="1.5" stroke-linecap="round"></line>
            </svg>
            </span>
        <span class="text-black">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
              </svg>
        </span>
    </div>
    <div class="">
        <div class="logo">
            <img src="./images/logo.png" alt="" class=" h-20 w-20 object-contain -ml-6" srcset="">
         </div>
    </div>
    <div class="flex items-center gap-3">
        <a href="">
            <span class="site-header-link-icon"><svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.5472 4C9.31915 4 5.04166 8.27749 5.04166 13.5055C5.04166 15.4066 5.59615 17.2285 6.62592 18.7336L5.04166 22.4566C4.88324 22.7734 5.20009 23.0903 5.59615 23.0111L9.31915 21.4268C10.8242 22.4566 12.6461 23.0111 14.5472 23.0111C19.7752 23.0111 24.0527 18.7336 24.0527 13.5055C24.0527 8.27749 19.7752 4 14.5472 4Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                <ellipse cx="14.548" cy="17.4679" rx="0.792128" ry="0.792127" fill="black"></ellipse>
                <path d="M14.5474 15.4073L14.4682 13.8231C15.7356 13.8231 16.8446 12.7933 16.8446 11.4467C16.8446 10.1001 15.8148 9.07031 14.4682 9.07031C13.1216 9.07031 12.0918 10.1001 12.0918 11.4467H12.171C12.171 10.1001 13.28 9.07031 14.5474 9.07031C15.8148 9.07031 16.9238 10.1793 16.9238 11.4467C16.9238 12.7933 15.894 13.8231 14.5474 13.8231V15.4073Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                </span>
        </a>

        <a href="">
            <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M22 8.09863H6V24.7986H22V8.09863Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M11.5 10.6002V5.5002C11.5 4.8002 12.1 4.2002 12.8 4.2002H15.4C16.1 4.2002 16.7 4.8002 16.7 5.5002V10.7002" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><clipPath id="clip0"><rect width="24" height="24" fill="white" transform="translate(2 2.5)"></rect></clipPath></defs></svg>
        </a>
    </div> 
</div>
</header>
<!-- START MOBILE SIDEMENU -->
<section x-show="mobileOpen" class="fixed top-0 left-0 w-full inset-0 h-screen bg-black bg-opacity-50 z-50">
    <div x-data="{ m_menu_active: ''}" class="bg-white w-10/12 relative p-3 h-screen bg-white overflow-y-scroll">
<!-- START CONTENT OF MOBILE MEGAMENU -->
<div x-show="m_menu_active==1" class="absolute z-40 top-0 h-full bg-white w-full top-0 p-4">
    <div class="flex items-center">
        <span x-on:click="m_menu_active ='' ">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
              </svg>
              
        </span>
    </div>

    <div class="mt-6" x-data="{activeCategory:''}">
        <ul class="flex flex-col gap-3">
            <li class="text-sm title font-light">
                <a href="">All products</a>
            </li>
             <li class="text-sm font-medium">
                <a href="#" class="dropdown ">
                   <span  x-on:click="activeCategory=='' ? activeCategory = 1 : activeCategory='' "
                    class="flex items-center  justify-between" 
                    >
                     <p class="text-[12px]">Tops and Tshirts</p>
                     <span>
                        <svg x-show="activeCategory ==''" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                          </svg>

                          <svg x-show="activeCategory ==1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                          </svg>
                          
                          
                     </span>
                   </span> 
                   <div x-show="activeCategory ==1" class="dropdown-item  bg-white w-full">
                    <ul class="w-full flex flex-col gap-3 font-light">
                        <li>
                            <a href="">T-shirts</a>
                        </li>
                        <li>
                            <a href="">Polo shirts</a>
                        </li>
                        <li>
                            <a href="">Dress shirts</a>
                        </li>
                        <li>
                            <a href="">Tank Tops</a>
                        </li>
                    </ul>

                   </div>
                </a>
             </li>
        </ul>
    </div>
</div>
<!-- END CONTENT OF MOBILE MEGAMENU -->

        <div class="absolute right-2 z-10" x-on:click="mobileOpen=false">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
              
        </div>

        <div class="flex flex-col text-[10px]">
            <ul class="space-y-3 mb-2">
                <li><a href="">Help is here</a></li>
                <li><a href="">Sign in</a></li>
            </ul>
            <hr class="border-b">
            <ul class="space-y-2 mt-3 mb-2 font-bold">
                <li><a href="" x-on:click.prevent="m_menu_active =1">All products</a></li>
                <li><a href="">Clothing</a></li>
                <li><a href="">Bags</a></li>
                <li><a href="">DrinkWare</a></li>
                <li><a href="">Writing & office</a></li>
                <li><a href="">Technology</a></li>
                <li><a href="">HouseHold & Auto</a></li>
                <li><a href="">HouseHold & Auto</a></li>
            </ul>
        </div>

        <div class="w-11/12 -ml-4 bg-[#f8f8f8] mt-6  p-4">
          <p class="text-[10px] mb-3">shop our sites</p>
          <img class="w-2/3" src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_png,h_60,q_auto,w_auto/site%20images/vistaprint-logo-blue"
           alt="" />

           <ul class="flex flex-col gap-2 text-[13px] mt-4">
            <li>
                <a href="" class="font-light">Digital Marketing</a>
            </li>
            <li>
                <a href="" class="font-light">Mask by Vistaprint</a>
            </li>
            <li>
                <a href="" class="font-light">Mask by Vistaprint</a>
            </li>
            <li>
                <a href="" class="font-light">Corporate Pricing</a>
            </li>
            <li>
                <a href="" class="font-light">Reseller Program</a>
            </li>
           </ul>
        </div>
    </div>
</section>
<!-- END MOBILE SIDEMENU -->

    <!-- END MOBILE -->

		<slot />

<!-- START FOOTER SECTION -->
<footer class="w-full bg-dark pt-10">
	<section class="w-full pb-10">
	   <div class="container px-4 lg:px-20 mx-auto">
		 <div class="mb-6">
			 <img src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,w_auto/site%20images/footer/satisfaction.svg" alt="">
		  </div>
		 <div class="flex flex-col lg:flex-row  gap-4">
			 <div class="w-full lg:w-1/4">
 
				  <div class="text-white text-lg ">
					
					 <p>
						 Satisfaction Guaranteed.<br/>
						 Every time. Any reason. Or we'll make it right
					 </p>
				  </div>
				  <div class="w-full mt-5 border-b border-gray-600">
					 
				  </div>
			 </div>
			 <div class="flex-1 pb-2">
				<div class="w-full px-4 text-white flex flex-col lg:flex-row gap-4 lg:gap-20">
					  <div class="">
						 <h4 class="font-bold mb-4 ">Let us Help</h4>
						<ul class="flex flex-col gap-4 text-sm">
						 <li>
							 <a href="#" class="hover:text-primary">My Account</a>
						 </li>
						 <li>
							 <a href="#">Help Center</a>
						 </li>
						 <li>
							 <a href="#">Guide to Personalization</a>
						 </li>
						 <li>
							 <a href="#">Contact us</a>
						 </li>
						 <li>
							 <a href="#">Shipping</a>
						 </li>
						</ul>
					  </div>
 
					  <div class="">
						 <h4 class="font-bold mb-4 ">Our Company</h4>
						<ul class="flex flex-col gap-4 text-sm">
						 <li>
							 <a href="#" class="hover:text-primary">Careers</a>
						 </li>
						 <li>
							 <a href="#">For Investors</a>
						 </li>
						 <li>
							 <a href="#">For Media</a>
						 </li>
						 <li>
							 <a href="#">Sustainability
							 </a>
						 </li>
						</ul>
					  </div>
				</div>
			 </div>
		 </div>
	   </div>
	</section>
	<section class="w-full bg-black py-10">
		  <div class="container px-4 lg:px-20 mx-auto">
			 <div class="w-full flex flex-col lg:flex-row  gap-4  justify-between items-center">
				 <div class="w-full lg:w-1/3">
					 <ul class="flex items-center text-[12px] justify-between text-white text-sm">
						 <li>
							 <a href="">1 866 507 7454</a>
						 </li>
						 <li>
							
							 <a href="">Home</a>
						 </li>
						 <li>
							  
							 <a href="">Privacy</a>
						 </li>
						 <li>
						   
							<a href=""> Policy</a>
						</li>
						<li>
					   
						 <a href=""> Terms of Use</a>
					 </li>
					 <li>
						 
						 <a href=""> Legal Notice</a>
					 </li>
					 </ul>
					 <p class="text-gray-500 text-[12px] font-bold mt-2">
						 A CIMPRESS company © 2001-2021 VistaPrint. All rights reserved.<br/>
 Unless stated otherwise, prices are exclusive of delivery and product options.
					 </p>
				 </div>
 
				 <div class="flex items-center gap-4">
					 <a href="#">
						 <img src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,w_auto/site%20images/credit%20cards/mastercard.svg" class="h-10 w-12" alt="">
					 </a>
					 <a href="#">
						 <img src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,w_auto/site%20images/credit%20cards/pay_pal.svg" class="h-10 w-12" alt="">
					 </a>
					 <a href="#">
						 <img src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,w_auto/site%20images/credit%20cards/visa.svg" class="h-10 w-12" alt="">
					 </a>
				 </div>
 
				 <div class="h-10 w-10 rounded-full bg-secondary flex items-center justify-center">
					 <img src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,w_auto/site%20images/footer/instagram-logo.svg" alt="">
				 </div>
 
				 <div class="flex items-start text-white">
					 <img src="https://res.cloudinary.com/promotique/image/upload/c_scale,dpr_auto,f_auto,q_auto,w_46/country_flags/usflag" class="h-5 w-8" alt="">
					 <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-5 stroke-current" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
						 <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
					   </svg>
				 </div>
			 </div>
		  </div>
	</section>
 </footer>
 <!-- END FOOTER SECTION -->
</body>
</html>
<style is:global>
.list-menu .megamenu {
    height: 0px;
    overflow: hidden;
    transition: all .5s ease-in-out;
}
.list-menu:hover .megamenu{
   @apply h-64;
}

.dropdown .dropdown-item{
      display: none;
      transition: all .3s ease-in;

}
.dropdown:hover .dropdown-item {
    display: block;
}
</style>
